*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: none;
}
.navContainer{
    width: 100%;
    background-color: #d3d3d3;
background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);

}
.nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
}
.navlist{
    width:98%; 
    /*margin-left: 15px;
    margin-right:15px;*/
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /*align-content: center;*/
    
}

.leftElement{
    padding: 15px;
    font-size: 2.5rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*text-shadow: -1px 0 black, 0 1px white, 1px 0 white, 0 -1px white ;*/
}

.rightElement{
    display:flex;
    gap:18px;
    
}
a{
    text-decoration: none;
    /*gap: 18px;*/
    font-size: 1.5rem;
}
.contentcontainer{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction:column;
    gap: 25px;
}
#heading h2{
    font-size:2.5rem;
    /*transition: transform 0.3sec;*/
}
/*#heading:hover.h2{
    transform:scale(1.1);
}*/
.Sandwich{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:30px;
    border-radius: 40px;
    box-shadow: inset 20px 20px 60px rgba(158, 154, 154, 0.244), 20px 20px 50px rgba(193, 181, 181, 0.189);
}
.Smoothie{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:30px;
    border-radius: 40px;
    box-shadow: inset 20px 20px 60px rgba(158, 154, 154, 0.244), 20px 20px 50px rgba(193, 181, 181, 0.189);

}
img{
    border-radius: 15px;
    width: 200px;
    height: 100%;
    position: relative;

}
.dish{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
    padding-top: 6%;
}
.conclude{
    width:100%;
    background-color: #d3d3d3;
background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
display:flex;
    justify-content: center;
    align-items: center;

}
.rightcontent{
    height:300px;
    position:relative;
    transition: transform 0.5s;
    box-shadow: 1px 1px 10px gray;
    border-radius:15px
}
.rightcontent:hover{
    transform: scale(1.1);
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.525);
    display:flex;
    justify-content:center;
    align-items: center;
    opacity:0;
}
.overlay p{
    font-size: 1.5rem;
    color: white;
}
.overlay:hover{
    opacity:1;
}


.conclude p{
    font-size: 1.5rem;
}